.idea
*.pyc
__pycache__
logs
wandb
src/wandb

code
data/*
!data/.gitkeep
models/*
!models/.gitkeep
output/*
!output/.gitkeep
src/logs/*

ensemble/ensemble_results/*
!ensemble/ensemble_results/.gitkeep
ensemble/voting/*
!ensemble/voting/.gitkeep
ensemble/softmax/*
!ensemble/softmax/.gitkeep

img/*
!img/.gitkeep
!img/*.png

test
