.idea
*.pyc
__pycache__
wandb
src/wandb

code
data/*
!data/.gitkeep
models/*
!models/.gitkeep
output/*
!output/.gitkeep

ensemble/ensemble_results
!ensemble/ensemble_results/.gitkeep
ensemble/voting
!ensemble/voting/.gitkeep
ensemble/softmax
!ensemble/softmax/.gitkeep

test