datasets==3.2.0
evaluate==0.4.0
faiss_cpu==1.9.0
googletrans==3.1.0a0
kiwipiepy==0.17.0
numpy==2.2.1
pandas==2.0.1
peft==0.14.0
rank_bm25==0.2.2
scipy==1.15.0
streamlit==1.23.1
torch==2.1.0
tqdm==4.67.1
transformers==4.47.1
trl==0.13.0
